<div>
    <script src="../assets/js/main.js"></script>
    <section class="hero-section">
        <owl-carousel-o class="hero" [options]="carouselOptions">
            <ng-template class="item" carouselSlide>
                <div
                    class="hs-item hero-1"
                    style="
                        background-image: url('../../../assets/img/hero/hero-1.jpg');
                    "
                >
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-6">
                                <div class="hi-text">
                                    <span>{{
                                        "Shapeyourbody" | translate
                                    }}</span>
                                    <h1>
                                        Be <strong>strong</strong> traning hard
                                    </h1>
                                    <a href="#" class="primary-btn">Get info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template class="item" carouselSlide>
                <div
                    class="hs-item hero-2"
                    style="
                        background-image: url('../../../assets/img/hero/hero-2.jpg');
                    "
                >
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-6">
                                <div class="hi-text">
                                    <span>{{
                                        "Shapeyourbody" | translate
                                    }}</span>
                                    <h1>
                                        Be <strong>strong</strong> traning hard
                                    </h1>
                                    <a href="#" class="primary-btn">Get info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </section>
    <!-- Hero Section End -->

    <!-- ChoseUs Section Begin -->
    <app-chose-us></app-chose-us>

    <!-- ChoseUs Section End -->

    <!-- Classes Section Begin -->
    <section class="classes-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Our Classes</span>
                        <h2>WHAT WE CAN OFFER</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img
                                src="../assets/img/classes/class-1.jpg"
                                alt=""
                            />
                        </div>
                        <div class="ci-text">
                            <span>STRENGTH</span>
                            <h5>Weightlifting</h5>
                            <a href="#"><i><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAg0lEQVR4nO2WMQqAQAwEB3yHos8R/66lqAiK/iM2ljkt9JImA1uGgZBcDoIgeKa4Y84ALEBlLZY7O9B4iMVaLl5yUbK9yTvgTBR/zfo0cEcm6atcDDJre24hnjSxRatLrdVtRvmakv5Fap3qnFK8pChS8ydzsz4SPTB6nEW8PgJB4M8FSIC6vKYZ4mAAAAAASUVORK5CYII="></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img
                                src="../assets/img/classes/class-2.jpg"
                                alt=""
                            />
                        </div>
                        <div class="ci-text">
                            <span>Cardio</span>
                            <h5>Indoor cycling</h5>
                            <a href="#"><i><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAg0lEQVR4nO2WMQqAQAwEB3yHos8R/66lqAiK/iM2ljkt9JImA1uGgZBcDoIgeKa4Y84ALEBlLZY7O9B4iMVaLl5yUbK9yTvgTBR/zfo0cEcm6atcDDJre24hnjSxRatLrdVtRvmakv5Fap3qnFK8pChS8ydzsz4SPTB6nEW8PgJB4M8FSIC6vKYZ4mAAAAAASUVORK5CYII="></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img
                                src="../assets/img/classes/class-3.jpg"
                                alt=""
                            />
                        </div>
                        <div class="ci-text">
                            <span>STRENGTH</span>
                            <h5>Kettlebell power</h5>
                            <a href="#"><i><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAg0lEQVR4nO2WMQqAQAwEB3yHos8R/66lqAiK/iM2ljkt9JImA1uGgZBcDoIgeKa4Y84ALEBlLZY7O9B4iMVaLl5yUbK9yTvgTBR/zfo0cEcm6atcDDJre24hnjSxRatLrdVtRvmakv5Fap3qnFK8pChS8ydzsz4SPTB6nEW8PgJB4M8FSIC6vKYZ4mAAAAAASUVORK5CYII="></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img
                                src="../assets/img/classes/class-4.jpg"
                                alt=""
                            />
                        </div>
                        <div class="ci-text">
                            <span>Cardio</span>
                            <h4>Indoor cycling</h4>
                            <a href="#"><i><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAg0lEQVR4nO2WMQqAQAwEB3yHos8R/66lqAiK/iM2ljkt9JImA1uGgZBcDoIgeKa4Y84ALEBlLZY7O9B4iMVaLl5yUbK9yTvgTBR/zfo0cEcm6atcDDJre24hnjSxRatLrdVtRvmakv5Fap3qnFK8pChS8ydzsz4SPTB6nEW8PgJB4M8FSIC6vKYZ4mAAAAAASUVORK5CYII="></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img
                                src="../assets/img/classes/class-5.jpg"
                                alt=""
                            />
                        </div>
                        <div class="ci-text">
                            <span>Training</span>
                            <h4>Boxing</h4>
                            <a href="#"
                                ><i><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAg0lEQVR4nO2WMQqAQAwEB3yHos8R/66lqAiK/iM2ljkt9JImA1uGgZBcDoIgeKa4Y84ALEBlLZY7O9B4iMVaLl5yUbK9yTvgTBR/zfo0cEcm6atcDDJre24hnjSxRatLrdVtRvmakv5Fap3qnFK8pChS8ydzsz4SPTB6nEW8PgJB4M8FSIC6vKYZ4mAAAAAASUVORK5CYII="></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->

    <!-- Banner Section Begin -->
    <app-banner></app-banner>
    <!-- Banner Section End -->

    <app-pricing></app-pricing>

    <!-- Gallery Section Begin -->
    <app-gallery></app-gallery>
    <!-- Gallery Section End -->

    <app-team-section></app-team-section>
</div>
