img {
    
    margin: 10px;
    margin-block: 6%;
    border-radius: 5%;
    box-shadow: 1px 3px 3px 1px #e66007;
    height: 30rem;
    width: 25rem;
  }
  .ps-item .primary-btn.pricing-btn {
    transform: none;
    margin-bottom: 15px;
  }