:host ::ng-deep {
  
    button.p-confirm-dialog-accept {
        position: relative;
        right: 99px;
        background-color: cadetblue;
        border: none;
    }
    button.p-confirm-dialog-accept:hover {
        background-color: rgb(48, 85, 87);
    }
    button.p-confirm-dialog-reject {
        background-color: crimson;
        position: relative;
        left: 70px;
        border: none;
    }
    button.p-confirm-dialog-reject:hover {
        background-color: rgb(138, 16, 40);
    }
  
        .imageTable > .p-image-preview-container > img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
        .p-card-header img{
            width: 40%;
            border-radius: 10%;
        }
        .p-card {
            background-color: #dcf2f2;
          }
     
        .imageQr{
            width: 50%;
        }
        .col-12.sm\:col-6.lg\:col-12.xl\:col-4.p-2 {
            width: 294px;
          }
          .seachDrop .p-dropdown{
            background-color: azure;
            width: 18%;
            margin-inline: 10px;
          }
          .seachDate .p-calendar {
            width: 20%;
            margin-inline: 10px;
            input {
                background-color: azure;
            }
            
          }
          .searchbtn{
           .p-button.p-component {
                width: 15%;
              }
              .p-button.p-component:hover {
                background-color: gray;
                color: azure;
              }
              margin: 3%;
          }

  
}
.imageDropdown{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.field {
    margin-top: 20px;
}
.QrCard{
    margin:15px;
}
.qrInfos{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 15px;

}
@media print{
  
 
    .qrInfos{
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        color: rgb(2, 8, 21);
        margin: 15px;
    }
  
 
  
      .imageQr{
        width: 40%;
        border-radius: 10%;
    }
}
