<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button
                pButton
                pRipple
                label="{{ 'New' | translate }}"
                icon="pi pi-plus"
                class="mx-2"
                (click)="openNew()"
            ></button>

            <button
                pButton
                pRipple
                label="{{ 'Delete' | translate }}"
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="deleteSelectedMembers()"
                [disabled]="!selectedMembers || !selectedMembers.length"
            ></button>
        </ng-template>

        <ng-template pTemplate="right">
            <button
                pButton
                pRipple
                label="{{ 'Export' | translate }}"
                icon="pi pi-upload"
                class="p-button-help"
            ></button>
        </ng-template>
    </p-toolbar>

    <p-table
        #dt
        [value]="members"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="[
            'name',
            'email',
            'phoneNumber',
            'adress',
            'sessionDurationAllowed'
        ]"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedMembers"
        [rowHover]="true"
        dataKey="id"
        styleClass="p-datatable-gridlines"
        [resizableColumns]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
        responsiveLayout="stack"
        [breakpoint]="'960px'"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Member</h5>
                <button
                    pButton
                    label="Clear"
                    class="p-button-outlined clearButton"
                    icon="pi pi-filter-slash"
                    (click)="clear(dt)"
                ></button>
                <p-toolbar>
                    <div class="p-toolbar-group-start">
                        <button
                            [disabled]="
                                !selectedMembers || !selectedMembers.length
                            "
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-file-excel"
                            (click)="exportExcel()"
                            class="p-button-success mr-2"
                            pTooltip="XLS"
                            tooltipPosition="bottom"
                        ></button>
                        <button
                            [disabled]="
                                !selectedMembers || !selectedMembers.length
                            "
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-file-pdf"
                            (click)="exportPdf()"
                            class="p-button-warning mx-2"
                            pTooltip="PDF"
                            tooltipPosition="bottom"
                        ></button>
                        <p-multiSelect
                            [options]="cols"
                            [(ngModel)]="selectedColumns"
                            optionLabel="header"
                            selectedItemsLabel="{0} columns selected"
                            [style]="{ 'min-width': '200px' }"
                            placeholder="Choose Columns"
                        ></p-multiSelect>
                    </div>
                </p-toolbar>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th scope="col" style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th scope="col">{{ "Image" | translate }}</th>
                <th scope="col" pSortableColumn="onlineUser.firstName">
                    {{ "FirstName" | translate
                    }}<p-sortIcon field="onlineUser.firstName"></p-sortIcon>
                    <p-columnFilter
                        class="filterIcon"
                        type="text"
                        field="onlineUser.firstName"
                        display="menu"
                    ></p-columnFilter>
                </th>
                <th scope="col" pSortableColumn="onlineUser.lastName">
                    {{ "LastName" | translate
                    }}<p-sortIcon field="onlineUser.lastName"></p-sortIcon>
                    <p-columnFilter
                        class="filterIcon"
                        type="text"
                        field="onlineUser.lastName"
                        display="menu"
                    ></p-columnFilter>
                </th>
                <th scope="col" pSortableColumn="onlineUser.email">
                    {{ "Email" | translate
                    }}<p-sortIcon field="onlineUser.email"></p-sortIcon>
                    <p-columnFilter
                        class="filterIcon"
                        type="text"
                        field="onlineUser.email"
                        display="menu"
                    ></p-columnFilter>
                </th>
                <th scope="col" pSortableColumn="cin">
                    {{ "CIN" | translate }}<p-sortIcon field="cin"></p-sortIcon>
                    <p-columnFilter
                        class="filterIcon"
                        type="text"
                        field="cin"
                        display="menu"
                    ></p-columnFilter>
                </th>
                <th scope="col" pSortableColumn="age">
                    {{ "Age" | translate }}<p-sortIcon field="age"></p-sortIcon>
                    <p-columnFilter
                        class="filterIcon"
                        type="numeric"
                        field="age"
                        display="menu"
                    ></p-columnFilter>
                </th>
                <th scope="col" pSortableColumn="gender">
                    {{ "Gender" | translate
                    }}<p-sortIcon field="gender"></p-sortIcon>
                    <p-columnFilter
                        class="filterIcon"
                        type="boolean"
                        field="gender"
                        display="menu"
                    >
                    </p-columnFilter>
                </th>
                <th scope="col" pSortableColumn="adress">
                    {{ "Adress" | translate
                    }}<p-sortIcon field="adress"></p-sortIcon>
                    <p-columnFilter
                        class="filterIcon"
                        type="text"
                        field="adress"
                        display="menu"
                    ></p-columnFilter>
                </th>
                <th scope="col" pSortableColumn="login">
                    {{ "Login" | translate
                    }}<p-sortIcon field="login"></p-sortIcon>
                    <p-columnFilter
                        class="filterIcon"
                        type="text"
                        field="login"
                        display="menu"
                    ></p-columnFilter>
                </th>
                <th scope="col" pSortableColumn="gymBranch">
                    {{ "GymBranch" | translate
                    }}<p-sortIcon field="gymBranch"></p-sortIcon>
                    <p-columnFilter
                        field="gymBranch.id"
                        matchMode="in"
                        [showMenu]="false"
                    >
                        <ng-template
                            pTemplate="filter"
                            let-value
                            let-filter="filterCallback"
                        >
                            <p-multiSelect
                                appendTo="body"
                                [ngModel]="value"
                                optionValue="id"
                                [options]="gymBranches"
                                placeholder="Any"
                                (onChange)="filter($event.value)"
                                optionLabel="name"
                            >
                                <ng-template let-option pTemplate="item">
                                    <div
                                        class="inline-block vertical-align-middle"
                                    >
                                        <span class="ml-1 mt-1">{{
                                            option.name
                                        }}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>

                <th scope="col"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-member>
            <tr>
                <td>
                    <p-tableCheckbox [value]="member"></p-tableCheckbox>
                </td>
                <td id="image">
                    <p-image
                        src="{{
                            member.onlineUser.profilePicture | combineNginxUrl
                        }}"
                        class="imageTable"
                        alt="Image"
                        [preview]="true"
                    ></p-image>
                </td>

                <td>{{ member.onlineUser.firstName }}</td>
                <td>{{ member.onlineUser.lastName }}</td>
                <td>{{ member.onlineUser.email }}</td>
                <td>{{ member.cin }}</td>
                <td>{{ member.age }}</td>
                <td>{{ member.gender === false ? "Women" : "Man" }}</td>
                <td>{{ member.adress }}</td>
                <td>{{ member.onlineUser.login }}</td>
                <td>{{ member.gymBranch.name }}</td>

                <td>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-upload"
                        class="p-button-rounded p-button-secondary mr-2"
                        (click)="editImage(member)"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        class="p-button-rounded mr-2"
                        (click)="editMemberInput(member)"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-danger"
                        (click)="deleteMember(member)"
                    ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are
                {{ members ? members.length : 0 }} member.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog
    [(visible)]="memberDialog"
    [style]="{ width: '50%' }"
    header="Gym Details"
    [modal]="true"
    styleClass="p-fluid"
>
    <ng-template pTemplate="content">
        <form [formGroup]="membersForm" class="p-fluid">
            <div class="formgrid grid">
                <div class="field col-6 md:col-4">
                    <span class="p-float-label">
                        <p-dropdown
                            appendTo="body"
                            id="user"
                            [options]="users"
                            formControlName="onlineuserInput"
                            optionLabel="firstName"
                            [autoDisplayFirst]="false"
                            (onChange)="fillUserFields()"
                        >
                            <ng-template let-option pTemplate>
                                <div *ngIf="option === null">
                                    Select Nothing
                                </div>
                                <div *ngIf="option !== null">
                                    {{ option.firstName }}
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <label for="user"> {{ "User" | translate }}</label>
                    </span>
                    <small
                        *ngIf="
                            membersForm.get('role').invalid &&
                            (membersForm.get('role').dirty ||
                                membersForm.get('role').touched)
                        "
                        class="p-error"
                    >
                        {{ "role" | translate }}
                        {{ "isRequired" | translate }}</small
                    >
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input
                            type="text"
                            pInputText
                            id="firstName"
                            formControlName="firstName"
                            required
                            [disabled]="true"
                        />
                        <label htmlFor="firstName">First name</label>
                    </span>
                    <small
                        *ngIf="
                            membersForm.get('firstName').invalid &&
                            (membersForm.get('firstName').dirty ||
                                membersForm.get('firstName').touched)
                        "
                        class="p-error"
                        >firstName is required</small
                    >
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input
                            type="text"
                            pInputText
                            id="lastName"
                            formControlName="lastName"
                            required
                            [disabled]="true"
                        />
                        <label htmlFor="lastName">Last name</label>
                    </span>
                    <small
                        *ngIf="
                            membersForm.get('lastName').invalid &&
                            (membersForm.get('lastName').dirty ||
                                membersForm.get('lastName').touched)
                        "
                        class="p-error"
                        >lastName is required</small
                    >
                </div>
                <div class="field col-6 md:col-4">
                    <span class="p-float-label">
                        <p-inputNumber
                            id="age"
                            formControlName="age"
                        ></p-inputNumber>
                        <label htmlFor="age">Age</label>
                    </span>
                    <small
                        *ngIf="
                            membersForm.get('age').invalid &&
                            (membersForm.get('age').dirty ||
                                membersForm.get('age').touched)
                        "
                        class="p-error"
                        >age is required</small
                    >
                </div>

                <div class="field col-6 md:col-4">
                    <p-toggleButton
                        formControlName="gender"
                        id="gender"
                        onLabel="Man"
                        offLabel="Women"
                        [style]="{ width: '10em' }"
                    ></p-toggleButton>
                </div>

                <div class="field col-6 md:col-4">
                    <span class="p-float-label">
                        <input
                            type="text"
                            pInputText
                            id="cin"
                            formControlName="cin"
                            required
                        />
                        <label htmlFor="cin">Cin</label>
                    </span>
                    <small
                        *ngIf="
                            membersForm.get('cin').invalid &&
                            (membersForm.get('cin').dirty ||
                                membersForm.get('cin').touched)
                        "
                        class="p-error"
                        >cin is required</small
                    >
                </div>

                <div class="field col-6 md:col-4">
                    <span class="p-float-label">
                        <p-dropdown
                            appendTo="body"
                            id="role"
                            [options]="roles"
                            formControlName="role"
                            optionLabel="name"
                            [autoDisplayFirst]="false"
                        ></p-dropdown>
                        <label for="role"> {{ "role" | translate }}</label>
                    </span>
                    <small
                        *ngIf="
                            membersForm.get('role').invalid &&
                            (membersForm.get('role').dirty ||
                                membersForm.get('role').touched)
                        "
                        class="p-error"
                    >
                        {{ "role" | translate }}
                        {{ "isRequired" | translate }}</small
                    >
                </div>

                <div class="field col-12 md:col-12">
                    <span class="p-float-label">
                        <textarea
                            id="adress"
                            [rows]="5"
                            [cols]="30"
                            pInputTextarea
                            formControlName="adress"
                            [autoResize]="true"
                        ></textarea>
                        <label htmlFor="adress">Adress</label>
                    </span>
                </div>

                <div class="field col-12 md:col-8">
                    <span class="p-float-label">
                        <input
                            type="text"
                            pInputText
                            id="email"
                            formControlName="email"
                            required
                            [disabled]="onlineuserInput != undefined"
                        />
                        <label htmlFor="email">Email</label>
                    </span>
                    <small
                        *ngIf="
                            membersForm.get('email').invalid &&
                            (membersForm.get('email').dirty ||
                                membersForm.get('email').touched)
                        "
                        class="p-error"
                        >email is required</small
                    >
                </div>

                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <p-dropdown
                            appendTo="body"
                            id="gymBranch"
                            [options]="gymBranches"
                            optionLabel="name"
                            formControlName="gymBranch"
                        ></p-dropdown>
                        <label for="gymBranch">gymBranch</label>
                    </span>
                    <small
                        *ngIf="
                            membersForm.get('gymBranch').invalid &&
                            (membersForm.get('gymBranch').dirty ||
                                membersForm.get('gymBranch').touched)
                        "
                        class="p-error"
                        >gymBranch is required</small
                    >
                </div>

                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input
                            type="text"
                            pInputText
                            id="login"
                            formControlName="login"
                            required
                            [disabled]="onlineuserInput != undefined"
                        />
                        <label htmlFor="login">Login</label>
                    </span>
                    <small
                        *ngIf="
                            membersForm.get('login').invalid &&
                            (membersForm.get('login').dirty ||
                                membersForm.get('login').touched)
                        "
                        class="p-error"
                        >login is required</small
                    >
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-password
                            [toggleMask]="true"
                            id="password"
                            formControlName="password"
                            required
                            [disabled]="onlineuserInput != undefined"
                        ></p-password>
                        <label htmlFor="password">Password</label>
                    </span>
                    <small
                        *ngIf="
                            membersForm.get('password').invalid &&
                            (membersForm.get('password').dirty ||
                                membersForm.get('password').touched)
                        "
                        class="p-error"
                        >password is required</small
                    >
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancel"
            icon="pi pi-times"
            class="p-button-text"
            (click)="hideDialog()"
        ></button>
        <button
            id="save"
            pButton
            pRipple
            label="Save"
            icon="pi pi-check"
            class="p-button-text"
            [disabled]="membersForm.invalid"
            (click)="saveMember()"
        ></button>
    </ng-template>
</p-dialog>

<p-dialog
    [(visible)]="userImageDialog"
    [style]="{ width: '450px' }"
    header="Update user image"
    [modal]="true"
    styleClass="p-fluid"
>
    <ng-template pTemplate="content">
        <p-image
            src="{{ memberInput.onlineUser.profilePicture | combineNginxUrl }}"
            class="imagebeforeupdate"
            alt="Image"
            [preview]="true"
        ></p-image>
        <p-fileUpload
            [customUpload]="true"
            [auto]="true"
            accept="image/*"
            (uploadHandler)="onUpload($event)"
            [maxFileSize]="1000000"
        >
        </p-fileUpload>
        <button
            pButton
            pRipple
            label="Save"
            icon="pi pi-check"
            class="p-button-text updateimagebtn"
            (click)="updateImage()"
        ></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
