.ts-item{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #c47b28;
    }
    
    .ts-item .ts_text {
        background: #4a2222c4;
        transform: none;
    
      }