<div>
<!-- Breadcrumb Section Begin -->
<app-breadcrumb [pageName]="'Team'"></app-breadcrumb>
<!-- Breadcrumb Section End -->

<!-- Team Section Begin -->
<section class="team-section team-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-title">
                    <div class="section-title">
                        <span>Our Team</span>
                        <h2>TRAIN WITH EXPERTS</h2>
                    </div>
                    <a href="#" class="primary-btn btn-normal appoinment-btn">appointment</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6" *ngFor="let member of members">
                <div class="ts-item " [ngStyle]="{ 'background-image': 'url(' + member.onlineUser.profilePicture +'?t='+timeStamp+' )' }">
                    <div class="ts_text">
                        <h4>{{member.onlineUser.firstName}} {{member.onlineUser.lastName}}</h4>
                        <span>{{member.onlineUser.role.name}}</span>
                        <div class="tt_social">
                            <app-social-media></app-social-media>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- Team Section End -->
</div>