<div>
    <!-- Breadcrumb Section Begin -->
    <app-breadcrumb [pageName]="'Contact Us'"></app-breadcrumb>
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title contact-title">
                        <span>Contact Us</span>
                        <h2>GET IN TOUCH</h2>
                    </div>
                    <div class="contact-widget">
                        <div class="cw-text">
                            <i>
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABgklEQVR4nO2WPUsDQRCGn8pG8BA0CGqpiKUfjaVYiK36G/QfJBY2mh+graT3D2gEK3sl2toFkVj6HQiBnAzMwXLs3u2dd929MBDund1nM+zNDVTKpxrQBB6BH40OcKpeKdoHvoDQEeLtlQEdJUCjGKXBb4FXoAXsAkFCbi3ln8bjE5h2bRZPHgJ3QB3YAFaBGc1tZoCGGidp4IYCh5bFAhc9WbwrYBaYA9oWv5MGjhRoyVuGN6GercwCjDTvuGhe4CTvIwf4vQjwg2XjtsIFemPx74sAH+W4XPUiwIG+er7QHjBZBFi0BQw8oANg0wXNAxbt6KVxQcXbToLmBYsWHe+1fDQWNGeqDLBoTBuI2UzkmWgF6JYBXjf6dx/4jfXlfsqhc4OfgXH9fQ6cZVj7L7A8v3B4pYPDCpyl1N+aYJtAfD6Zl8AhsJQVfByboaIJpBFr9K4hwYw34yBhGli07Lm5eSgZi9aAA4X1HGu8ZZazq+EzCKLljg7yAlz7YytRnP4AlOgwOwufyDUAAAAASUVORK5CYII=">
                            </i>

                            <p>
                                333 Middle Winchendon Rd, Rindge,<br />
                                NH 03461
                            </p>
                        </div>
                        <div class="cw-text">
                            <i>
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABIElEQVR4nO3VwSoFURwH4A+h2FAUz3ElS0l5CgsWNrJjKxs2XoDuAygegFhZiMJKdq4dC5KUhY2uTo263c4dZM50F/dXv83M1NfMnPM/dNIGWcQdrjBaFrqFekOrZaBzTWjoJyqp4ZMIHHqGrpTwWws4dD4l/JIDP2AwFXyRA4dOpoLXctBb9KaCx/HeAp6ROBsRNAyS5BnEfRP8hOEy8Al8NOGn6C8DX4l88r3Ug+Q7uxF8WwnpwUEE38nuNSZstSkMFIX34TCCH2Eoe2YaN9n1Ryyhu6iVfhzBn3Gdc7BUinrz/R9GauxIrWLkv3hP9n/rf+ylgrIc2ed5rSl4yNR+CS8oOGHRreccLKGbEmYMqzjP5vprtt1mU6KdtG++AA/oqGgeE678AAAAAElFTkSuQmCC">
                            </i>
                            <ul>
                                <li>125-711-811</li>
                                <li>125-668-886</li>
                            </ul>
                        </div>
                        <div class="cw-text email">
                            <i>
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABEElEQVR4nO3UPS9EQRTG8Z+XiEQoVBL7YSRaKjodHZ3GV1Aolbai0+lU2i1pVHyA/QLeWVk5Jte1V3bYVWzuPzm5c2fOPM/N3DmHmppRZgGX6AwprtEomy7Hcx6tIZi2Qrvo9cEj1mM8g/MBml5gLrRXcV807ia8YDPep3A6ANMzTIfmBp5j/otxN96wG3MTOPqD6TEmQ2sHr4W1b8afsR/zYzj4hekhxkNjr8d6pXE/m6uin49OVImcFI5ru3Rc5Sj/puYPuYmcC/LUIyf3Yib6KYnZyF3BXWHtAWuZpZjIbQJLuMVNjHObTyKn7S3q3W6vMnQSOaXSxlb03UaM25kaic4/R6I27oz8UdfUjA7vZuyuMsipCFsAAAAASUVORK5CYII=">
                            </i>
                            <p>Support.gymcenter@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="leave-comment">
                        <form [formGroup]="contactForm">
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    class="center-placeholder"
                                    formControlName="fullName"
                                />
                                <label for="fullName">Name</label>
                                <small
                                    *ngIf="
                                        contactForm.get('fullName').invalid &&
                                        (contactForm.get('fullName').dirty ||
                                            contactForm.get('fullName').touched)
                                    "
                                    class="p-error"
                                    >fullName required
                                </small>
                            </span>
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    class="center-placeholder"
                                    formControlName="email"
                                />
                                <label for="email">Email</label>
                                <small
                                    *ngIf="
                                        contactForm.get('email').invalid &&
                                        (contactForm.get('email').dirty ||
                                            contactForm.get('email').touched)
                                    "
                                    class="p-error"
                                    >Email shoud be valid
                                </small>
                            </span>
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    class="center-placeholder"
                                    formControlName="subject"
                                />
                                <label for="subject">Subject</label>
                                <small
                                    *ngIf="
                                        contactForm.get('subject').invalid &&
                                        (contactForm.get('subject').dirty ||
                                            contactForm.get('subject').touched)
                                    "
                                    class="p-error"
                                    >Subject
                                </small>
                            </span>
                            <span class="p-float-label">
                                <textarea
                                    class="center-placeholder"
                                    formControlName="message"
                                ></textarea>
                                <label for="message">Message</label>
                                <small
                                    *ngIf="
                                        contactForm.get('message').invalid &&
                                        (contactForm.get('message').dirty ||
                                            contactForm.get('message').touched)
                                    "
                                    class="p-error"
                                    >Message
                                </small>
                            </span>
                            <button (click)="contact()" type="submit">
                                Send
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="map">
                <iframe
                    title="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6933.822633813525!2d-6.828564783956717!3d33.97609180802008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda76b5ac22005a7%3A0xc2dcf359e57282a7!2sGold&#39;s%20Gym!5e1!3m2!1sfr!2sma!4v1720601727277!5m2!1sfr!2sma"
                    height="550"
                    style="border: 0"
                    allowfullscreen=""
                ></iframe>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
</div>
