<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button
                pButton
                pRipple
                label="{{ 'New' | translate }}"
                icon="pi pi-plus"
                class="p-button-success mr-2"
                (click)="openNew()"
            ></button>
        </ng-template>

        <ng-template pTemplate="right">
            <button
                pButton
                pRipple
                label="Export"
                icon="pi pi-upload"
                class="p-button-help"
            ></button>
        </ng-template>
    </p-toolbar>
    <p-table
        #dt
        [value]="reforms"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="[
            'item.equipment.name',
            'decider.onlineUser.lastName',
            'decisionDate',
            'comment'
        ]"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        styleClass="p-datatable-gridlines"
        [resizableColumns]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">
                    {{ "Manage" | translate }} {{ "Reform" | translate }}
                </h5>
                <button
                    pButton
                    label="{{ 'Clear' | translate }}"
                    class="p-button-outlined clearButton"
                    icon="pi pi-filter-slash"
                    (click)="clear(dt)"
                ></button>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        #searchInput
                        pInputText
                        type="text"
                        (input)="dt.filterGlobal(searchInput.value, 'contains')"
                        placeholder="Search..."
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th scope="col" style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th
                    scope="col"
                    pSortableColumn="equipmentItem"
                    style="min-width: 10rem"
                >
                    {{ "EquipmentItem" | translate
                    }}<p-sortIcon field="equipmentItem"></p-sortIcon>
                    <p-columnFilter
                        class="filterIcon"
                        type="text"
                        field="equipmentItem"
                        display="menu"
                    ></p-columnFilter>
                </th>
                <th
                    scope="col"
                    pSortableColumn="ReformDecider"
                    style="min-width: 10rem"
                >
                    {{ "Reform" | translate }} {{ "Decider" | translate
                    }}<p-sortIcon field="ReformDecider"></p-sortIcon>
                    <p-columnFilter
                        class="filterIcon"
                        type="text"
                        field="ReformDecider"
                        display="menu"
                    ></p-columnFilter>
                </th>
                <th
                    scope="col"
                    pSortableColumn="decisionDate"
                    style="min-width: 15rem"
                >
                    {{ "DecisionDate" | translate }}
                    <p-sortIcon field="decisionDate"></p-sortIcon>
                    <p-columnFilter
                        class="filterIcon"
                        type="date"
                        field="decisionDate"
                        display="menu"
                    ></p-columnFilter>
                </th>

                <th
                    scope="col"
                    pSortableColumn="comment"
                    style="min-width: 10rem"
                >
                    {{ "Comment" | translate }}
                    <p-sortIcon field="comment"></p-sortIcon>
                    <p-columnFilter
                        class="filterIcon"
                        type="text"
                        field="comment"
                        display="menu"
                    ></p-columnFilter>
                </th>

                <th scope="col"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reform>
            <tr>
                <td>
                    <p-tableCheckbox [value]="reform"></p-tableCheckbox>
                </td>
                <td>{{ reform.item.equipment.name }}</td>
                <td>
                    {{ reform.decider.onlineUser.firstName }}
                    {{ reform.decider.onlineUser.lastName }}
                </td>
                <td>{{ reform.decisionDate | date : "dd/MM/yyyy" }}</td>
                <td>{{ reform.comment }}</td>

                <td>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-success mr-2"
                        (click)="editReform(reform)"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-danger"
                        (click)="deleteReform(reform)"
                    ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are
                {{ reforms ? reforms.length : 0 }} reform Items.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog
    [(visible)]="reformDialog"
    [style]="{ width: '50%' }"
    header="{{ 'Reform' | translate }} {{ 'Details' | translate }}"
    [modal]="true"
    styleClass="p-fluid"
>
    <ng-template pTemplate="content">
        <form [formGroup]="reformForm" class="p-fluid">
            <div class="formgrid grid">
                <br />
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-dropdown
                            appendTo="body"
                            id="item"
                            [options]="equipmentItems"
                            formControlName="item"
                            optionLabel="equipment.name"
                        ></p-dropdown>
                        <label for="item">{{
                            "EquipmentItem" | translate
                        }}</label>
                    </span>
                    <small
                        *ngIf="
                            reformForm.get('item').invalid &&
                            (reformForm.get('item').dirty ||
                                reformForm.get('item').touched)
                        "
                        class="p-error"
                        >{{ "EquipmentItem" | translate }}
                        {{ "is required" | translate }}</small
                    >
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-dropdown
                            appendTo="body"
                            id="decider"
                            [options]="members"
                            formControlName="decider"
                            optionLabel="cin"
                        ></p-dropdown>
                        <label for="decider"
                            >{{ "Reform" | translate }}
                            {{ "Responsable" | translate }}</label
                        >
                    </span>
                    <small
                        *ngIf="
                            reformForm.get('decider').invalid &&
                            (reformForm.get('decider').dirty ||
                                reformForm.get('decider').touched)
                        "
                        class="p-error"
                        >{{ "Reform" | translate }}
                        {{ "Responsable" | translate }}
                        {{ "is required" | translate }}</small
                    >
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-calendar
                            appendTo="body"
                            type="date"
                            pCalendar
                            id="decisionDate"
                            formControlName="decisionDate"
                            [required]
                            autofocus
                        ></p-calendar>
                        <label for="decisionDate">{{
                            "DecisionDate" | translate
                        }}</label>
                    </span>
                    <small
                        *ngIf="
                            reformForm.get('decisionDate').invalid &&
                            (reformForm.get('decisionDate').dirty ||
                                reformForm.get('decisionDate').touched)
                        "
                        class="p-error"
                        >{{ "DecisionDate" | translate }}
                        {{ "is required" | translate }}</small
                    >
                </div>

                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <input
                            type="text"
                            pInputText
                            id="comment"
                            formControlName="comment"
                        />
                        <label htmlFor="comment"
                            >{{ "Comment" | translate }}
                        </label>
                    </span>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="{{ 'Cancel' | translate }}"
            icon="pi pi-times"
            class="p-button-text"
            (click)="hideDialog()"
        ></button>
        <button
            pButton
            pRipple
            label="{{ 'Save' | translate }}"
            icon="pi pi-check"
            class="p-button-text"
            [disabled]="reformForm.invalid"
            (click)="saveReform()"
        ></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
