<p-toast></p-toast>
<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button
                pButton
                pRipple
                label="{{ 'New' | translate }}"
                icon="pi pi-plus"
                class="p-button-success mx-2"
                (click)="openNew()"
            ></button>
        </ng-template>
    </p-toolbar>
</div>
<p-table
    #dt
    [value]="roles"
    [rows]="10"
    [paginator]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [globalFilterFields]="['name', 'description']"
>
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">
                {{ "Manage" | translate }} {{ "roles" | translate }}
            </h5>
            <button
                pButton
                label="Clear"
                class="p-button-outlined clearButton"
                icon="pi pi-filter-slash"
                (click)="clear(dt)"
            ></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th scope="col" style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th scope="col" pSortableColumn="name" style="min-width: 15rem">
                {{ "Name" | translate }} <p-sortIcon field="name"></p-sortIcon>
                <p-columnFilter
                    class="filterIcon"
                    type="text"
                    field="name"
                    display="menu"
                ></p-columnFilter>
            </th>
            <th scope="col" pSortableColumn="description" style="min-width: 15rem">
                {{ "Description" | translate }}
                <p-sortIcon field="description"></p-sortIcon>
                <p-columnFilter
                    class="filterIcon"
                    type="text"
                    field="description"
                    display="menu"
                ></p-columnFilter>
            </th>

            <th scope="col"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-role>
        <tr>
            <td>
                <p-tableCheckbox [value]="role"></p-tableCheckbox>
            </td>
            <td>{{ role.name }}</td>
            <td>{{ role.description }}</td>

            <td>
                <button
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-success mr-2"
                    (click)="editRole(role)"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-danger"
                    (click)="deleteRole(role)"
                ></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are
            {{ roles ? roles.length : 0 }} roles.
        </div>
    </ng-template>
</p-table>

<p-dialog
    [(visible)]="addDialog"
    [style]="{ width: '650px' }"
    header="Category Details"
    [modal]="true"
    styleClass="p-fluid"
>
    <ng-template pTemplate="content">
        <form [formGroup]="roleForm" class="p-fluid">
            <div class="formgrid grid">
                <div class="field col-12 md:col-5">
                <br/>
                    <span class="p-float-label">
                        <input
                            type="text"
                            pInputText
                            id="name"
                            formControlName="name"
                            required
                            autofocus
                        />
                        <label for="name">{{ "Name" | translate }}</label>
                    </span>
                    <small
                        *ngIf="
                            roleForm.get('name').invalid &&
                            (roleForm.get('name').dirty ||
                                roleForm.get('name').touched)
                        "
                        class="p-error"
                        >{{ "Name" | translate }}
                        {{ "isRequired" | translate }}</small
                    >
                </div>
                <div class="field col-12 md:col-7">
                    <span class="p-float-label">
                        <input
                            type="text"
                            pInputText
                            id="description"
                            formControlName="description"
                        />
                        <label for="description">{{
                            "Description" | translate
                        }}</label>
                    </span>
                </div>
                <div class="field col-3 md:col-4">
                    <p-toggleButton
                        formControlName="analytics"
                        onLabel="{{ 'analytics' | translate }}"
                        offLabel="No"
                    ></p-toggleButton>
                    <label for="analytics"
                        >&nbsp; {{ "analytics" | translate }}</label
                    >
                </div>
                <div class="field col-3 md:col-4">
                    <p-toggleButton
                        formControlName="membership"
                        onLabel="{{ 'membership' | translate }}"
                        offLabel="No"
                    ></p-toggleButton>
                    <label for="membership"
                        >&nbsp; {{ "membership" | translate }}</label
                    >
                </div>
                <div class="field col-3 md:col-4">
                    <p-toggleButton
                        formControlName="payments"
                        onLabel="{{ 'payments' | translate }}"
                        offLabel="No"
                    ></p-toggleButton>
                    <label for="payments"
                        >&nbsp; {{ "payments" | translate }}</label
                    >
                </div>
                <div class="field col-3 md:col-4">
                    <p-toggleButton
                        formControlName="inventory"
                        onLabel="{{ 'inventory' | translate }}"
                        offLabel="No"
                    ></p-toggleButton>
                    <label for="inventory"
                        >&nbsp; {{ "inventory" | translate }}</label
                    >
                </div>
                <div class="field col-3 md:col-4">
                    <p-toggleButton
                        formControlName="training"
                        onLabel="{{ 'training' | translate }}"
                        offLabel="No"
                    ></p-toggleButton>
                    <label for="training"
                        >&nbsp; {{ "training" | translate }}</label
                    >
                </div>
                <div class="field col-3 md:col-4">
                    <p-toggleButton
                        formControlName="settings"
                        onLabel="{{ 'settings' | translate }}"
                        offLabel="No"
                    ></p-toggleButton>
                    <label for="settings"
                        >&nbsp; {{ "settings" | translate }}</label
                    >
                </div>
                <div class="field col-3 md:col-4">
                    <p-toggleButton
                        formControlName="preferences"
                        onLabel="{{ 'preferences' | translate }}"
                        offLabel="No"
                    ></p-toggleButton>
                    <label for="preferences"
                        >&nbsp; {{ "preferences" | translate }}</label
                    >
                </div>
                <div class="field col-3 md:col-4">
                    <p-toggleButton
                        formControlName="manageWebSite"
                        onLabel="{{ 'manageWebSite' | translate }}"
                        offLabel="No"
                    ></p-toggleButton>
                    <label for="manageWebSite"
                        >&nbsp; {{ "manageWebSite" | translate }}</label
                    >
                </div>
                <div class="field col-3 md:col-4">
                    <p-toggleButton
                        formControlName="coach"
                        onLabel="{{ 'coach' | translate }}"
                        offLabel="No"
                    ></p-toggleButton>
                    <label for="coach">&nbsp; {{ "coach" | translate }}</label>
                </div>
                <!-- blogs -->
                <div class="field col-3 md:col-4">
                    <p-toggleButton
                        formControlName="blogs"
                        onLabel="{{ 'blogs' | translate }}"
                        offLabel="No"
                    ></p-toggleButton>
                    <label for="blogs">&nbsp; {{ "blogs" | translate }}</label>
                </div>
                <!-- store -->
                <div class="field col-3 md:col-4">
                    <p-toggleButton
                        formControlName="store"
                        onLabel="{{ 'store' | translate }}"
                        offLabel="No"
                    ></p-toggleButton>
                    <label for="store">&nbsp; {{ "store" | translate }}</label>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="{{ 'Cancel' | translate }}"
            icon="pi pi-times"
            class="p-button-text"
            (click)="hideDialog()"
        ></button>
        <button
            pButton
            pRipple
            label="{{ 'Save' | translate }}"
            icon="pi pi-check"
            class="p-button-text"
            (click)="addRole()"
        ></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
