<div>
    <app-breadcrumb [pageName]="'Sign Up'"></app-breadcrumb>

    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title contact-title">
                        <span>You're Welcom In GymFlex</span>
                        <h2>GET IN TOUCH TO GET MORE INFOs</h2>
                    </div>
                    <div class="contact-widget">
                        <div class="cw-text">
                            <i>
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABgklEQVR4nO2WPUsDQRCGn8pG8BA0CGqpiKUfjaVYiK36G/QfJBY2mh+graT3D2gEK3sl2toFkVj6HQiBnAzMwXLs3u2dd929MBDund1nM+zNDVTKpxrQBB6BH40OcKpeKdoHvoDQEeLtlQEdJUCjGKXBb4FXoAXsAkFCbi3ln8bjE5h2bRZPHgJ3QB3YAFaBGc1tZoCGGidp4IYCh5bFAhc9WbwrYBaYA9oWv5MGjhRoyVuGN6GercwCjDTvuGhe4CTvIwf4vQjwg2XjtsIFemPx74sAH+W4XPUiwIG+er7QHjBZBFi0BQw8oANg0wXNAxbt6KVxQcXbToLmBYsWHe+1fDQWNGeqDLBoTBuI2UzkmWgF6JYBXjf6dx/4jfXlfsqhc4OfgXH9fQ6cZVj7L7A8v3B4pYPDCpyl1N+aYJtAfD6Zl8AhsJQVfByboaIJpBFr9K4hwYw34yBhGli07Lm5eSgZi9aAA4X1HGu8ZZazq+EzCKLljg7yAlz7YytRnP4AlOgwOwufyDUAAAAASUVORK5CYII=">
                            </i>
                            <p>
                                333 Middle Winchendon Rd, Rindge,<br />
                                NH 03461
                            </p>
                        </div>
                        <div class="cw-text">
                            <i>
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABIElEQVR4nO3VwSoFURwH4A+h2FAUz3ElS0l5CgsWNrJjKxs2XoDuAygegFhZiMJKdq4dC5KUhY2uTo263c4dZM50F/dXv83M1NfMnPM/dNIGWcQdrjBaFrqFekOrZaBzTWjoJyqp4ZMIHHqGrpTwWws4dD4l/JIDP2AwFXyRA4dOpoLXctBb9KaCx/HeAp6ROBsRNAyS5BnEfRP8hOEy8Al8NOGn6C8DX4l88r3Ug+Q7uxF8WwnpwUEE38nuNSZstSkMFIX34TCCH2Eoe2YaN9n1Ryyhu6iVfhzBn3Gdc7BUinrz/R9GauxIrWLkv3hP9n/rf+ylgrIc2ed5rSl4yNR+CS8oOGHRreccLKGbEmYMqzjP5vprtt1mU6KdtG++AA/oqGgeE678AAAAAElFTkSuQmCC">
                            </i>
                            <ul>
                                <li>125-711-811</li>
                                <li>125-668-886</li>
                            </ul>
                        </div>
                        <div class="cw-text email">
                            <i>
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABEElEQVR4nO3UPS9EQRTG8Z+XiEQoVBL7YSRaKjodHZ3GV1Aolbai0+lU2i1pVHyA/QLeWVk5Jte1V3bYVWzuPzm5c2fOPM/N3DmHmppRZgGX6AwprtEomy7Hcx6tIZi2Qrvo9cEj1mM8g/MBml5gLrRXcV807ia8YDPep3A6ANMzTIfmBp5j/otxN96wG3MTOPqD6TEmQ2sHr4W1b8afsR/zYzj4hekhxkNjr8d6pXE/m6uin49OVImcFI5ru3Rc5Sj/puYPuYmcC/LUIyf3Yib6KYnZyF3BXWHtAWuZpZjIbQJLuMVNjHObTyKn7S3q3W6vMnQSOaXSxlb03UaM25kaic4/R6I27oz8UdfUjA7vZuyuMsipCFsAAAAASUVORK5CYII=">
                            </i>
                            <p>Support.gymcenter@gmail.com</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="leave-comment">
                        <form [formGroup]="registerForm">
                            <span class="p-float-label">
                                <input
                                    formControlName="firstName"
                                    pInputText
                                    id="firstName"
                                />
                                <label htmlFor="firstName">{{
                                    "FirstName" | translate
                                }}</label>
                                <small
                                    *ngIf="
                                        registerForm.get('firstName').invalid &&
                                        (registerForm.get('firstName').dirty ||
                                            registerForm.get('firstName')
                                                .touched)
                                    "
                                    class="p-error"
                                    >{{ "FirstName" | translate }}
                                    {{ "isRequired" | translate }}
                                </small>
                            </span>

                            <span class="p-float-label">
                                <input
                                    formControlName="lastName"
                                    pInputText
                                    id="lastName"
                                />
                                <label htmlFor="lastName">{{
                                    "LastName" | translate
                                }}</label>
                                <small
                                    *ngIf="
                                        registerForm.get('lastName').invalid &&
                                        (registerForm.get('lastName').dirty ||
                                            registerForm.get('lastName')
                                                .touched)
                                    "
                                    class="p-error"
                                    >{{ "LastName" | translate }}
                                    {{ "isRequired" | translate }}
                                </small>
                            </span>
                            <span class="p-float-label">
                                <input
                                    formControlName="email"
                                    pInputText
                                    id="email"
                                />
                                <label htmlFor="email">{{
                                    "Email" | translate
                                }}</label>
                                <small
                                    *ngIf="
                                        registerForm.get('email').invalid &&
                                        (registerForm.get('email').dirty ||
                                            registerForm.get('email').touched)
                                    "
                                    class="p-error"
                                    >{{ "Email" | translate }}
                                    {{ "isRequired" | translate }}
                                </small>
                            </span>
                            <span class="p-float-label">
                                <input
                                    formControlName="login"
                                    pInputText
                                    id="login"
                                />
                                <label htmlFor="login">{{
                                    "Login" | translate
                                }}</label>
                                <small
                                    *ngIf="
                                        registerForm.get('login').invalid &&
                                        (registerForm.get('login').dirty ||
                                            registerForm.get('login').touched)
                                    "
                                    class="p-error"
                                    >{{ "Login" | translate }}
                                    {{ "isRequired" | translate }}
                                </small>
                            </span>
                            <span class="p-float-label">
                                <p-password
                                    formControlName="password"
                                    [toggleMask]="true"
                                ></p-password>
                                <label for="password">{{
                                    "Password" | translate
                                }}</label>
                                <small
                                    *ngIf="
                                        registerForm.get('password').invalid &&
                                        (registerForm.get('password').dirty ||
                                            registerForm.get('password')
                                                .touched)
                                    "
                                    class="p-error"
                                    >{{ "Password" | translate }}
                                    {{ "isRequired" | translate }}
                                </small>
                            </span>

                            <button
                                type="submit"
                                class="registerBtn"
                                [disabled]="registerForm.invalid"
                                (click)="register()"
                            >
                                Sign Up
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
