<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button
                pButton
                pRipple
                label="{{ 'New' | translate }}"
                icon="pi pi-plus"
                class="p-button-success mr-2"
                (click)="openNew()"
            ></button>
        </ng-template>

        <ng-template pTemplate="right">
            <button
                pButton
                pRipple
                label="Export"
                icon="pi pi-upload"
                class="p-button-help"
            ></button>
        </ng-template>
    </p-toolbar>
    <p-table
        #dt
        [value]="maintainings"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="[
            'item.equipment.name',
            'maintainerResponsible.onlineUser.lastName',
            'startDate',
            'endDate',
            'cost'
        ]"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        styleClass="p-datatable-gridlines"
        [resizableColumns]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">
                    {{ "Manage" | translate }} {{ "Maintainings" | translate }}
                </h5>
                <button
                    pButton
                    label="{{ 'Clear' | translate }}"
                    class="p-button-outlined clearButton"
                    icon="pi pi-filter-slash"
                    (click)="clear(dt)"
                ></button>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        #searchInput
                        pInputText
                        type="text"
                        (input)="dt.filterGlobal(searchInput.value, 'contains')"
                        placeholder="Search..."
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th scope="col" style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th
                    scope="col"
                    pSortableColumn="equipmentItem"
                    style="min-width: 10rem"
                >
                    {{ "EquipmentItem" | translate
                    }}<p-sortIcon field="equipmentItem"></p-sortIcon>
                    <p-columnFilter
                        class="filterIcon"
                        type="text"
                        field="name"
                        display="menu"
                    ></p-columnFilter>
                </th>
                <th
                    scope="col"
                    pSortableColumn="maintainingResponsable"
                    style="min-width: 10rem"
                >
                    {{ "Maintaining" | translate }}
                    {{ "Responsable" | translate
                    }}<p-sortIcon field="maintainingResponsable"></p-sortIcon>
                    <p-columnFilter
                        class="filterIcon"
                        type="text"
                        field="name"
                        display="menu"
                    ></p-columnFilter>
                </th>
                <th
                    scope="col"
                    pSortableColumn="startDate"
                    style="min-width: 15rem"
                >
                    {{ "startDate" | translate }}
                    <p-sortIcon field="startDate"></p-sortIcon>
                    <p-columnFilter
                        class="filterIcon"
                        type="date"
                        field="startDate"
                        display="menu"
                    ></p-columnFilter>
                </th>
                <th scope="col" pSortableColumn="endDate">
                    {{ "endDate" | translate }}
                    <p-sortIcon field="endDate"></p-sortIcon>
                    <p-columnFilter
                        class="filterIcon"
                        type="date"
                        field="endDate"
                        display="menu"
                    ></p-columnFilter>
                </th>

                <th scope="col" pSortableColumn="cost" style="min-width: 10rem">
                    {{ "cost" | translate
                    }}<p-sortIcon field="cost"></p-sortIcon>
                    <p-columnFilter
                        class="filterIcon"
                        type="numeric"
                        field="cost"
                        [suffix]="' MAD'"
                        display="menu"
                    ></p-columnFilter>
                </th>

                <th scope="col"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-maintaining>
            <tr>
                <td>
                    <p-tableCheckbox [value]="maintaining"></p-tableCheckbox>
                </td>
                <td>{{ maintaining.item.equipment.name }}</td>
                <td>
                    {{ maintaining.maintainerResponsible.onlineUser.firstName }}
                    {{ maintaining.maintainerResponsible.onlineUser.lastName }}
                </td>
                <td>{{ maintaining.startDate | date : "dd/MM/yyyy" }}</td>
                <td>{{ maintaining.endDate | date : "dd/MM/yyyy" }}</td>
                <td>{{ maintaining.cost }}</td>

                <td>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-success mr-2"
                        (click)="editMaintaining(maintaining)"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-danger"
                        (click)="deleteMaintaining(maintaining)"
                    ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are
                {{ maintainings ? maintainings.length : 0 }} maintaining Items.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog
    [(visible)]="maintainingDialog"
    [style]="{ width: '50%' }"
    header="{{ 'maintaining' | translate }} {{ 'Details' | translate }}"
    [modal]="true"
    styleClass="p-fluid"
>
    <ng-template pTemplate="content">
        <form [formGroup]="maintainingForm" class="p-fluid">
            <div class="formgrid grid">
                <br />
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-dropdown
                            appendTo="body"
                            id="item"
                            [options]="equipmentItems"
                            formControlName="item"
                            optionLabel="equipment.name"
                        ></p-dropdown>
                        <label for="item">{{
                            "EquipmentItem" | translate
                        }}</label>
                    </span>
                    <small
                        *ngIf="
                            maintainingForm.get('item').invalid &&
                            (maintainingForm.get('item').dirty ||
                                maintainingForm.get('item').touched)
                        "
                        class="p-error"
                        >{{ "EquipmentItem" | translate }}
                        {{ "isRequired" | translate }}</small
                    >
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-dropdown
                            appendTo="body"
                            id="maintainerResponsible"
                            [options]="members"
                            formControlName="maintainerResponsible"
                            optionLabel="cin"
                        ></p-dropdown>
                        <label for="maintainerResponsible"
                            >{{ "Maintaining" | translate }}
                            {{ "Responsable" | translate }}</label
                        >
                    </span>
                    <small
                        *ngIf="
                            maintainingForm.get('maintainerResponsible')
                                .invalid &&
                            (maintainingForm.get('maintainerResponsible')
                                .dirty ||
                                maintainingForm.get('maintainerResponsible')
                                    .touched)
                        "
                        class="p-error"
                        >{{ "Maintaining" | translate }}
                        {{ "Responsable" | translate
                        }}{{ "is required" | translate }}</small
                    >
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-calendar
                            appendTo="body"
                            type="date"
                            pCalendar
                            id="startDate"
                            formControlName="startDate"
                            [required]
                            autofocus
                        ></p-calendar>
                        <label for="startDate">{{
                            "startDate" | translate
                        }}</label>
                    </span>
                    <small
                        *ngIf="
                            maintainingForm.get('startDate').invalid &&
                            (maintainingForm.get('startDate').dirty ||
                                maintainingForm.get('startDate').touched)
                        "
                        class="p-error"
                        >{{ "startDate" | translate }}
                        {{ "isRequired" | translate }}</small
                    >
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-calendar
                            appendTo="body"
                            type="date"
                            pCalendar
                            id="endDate"
                            formControlName="endDate"
                            [required]
                            autofocus
                        ></p-calendar>
                        <label for="endDate">{{ "endDate" | translate }}</label>
                    </span>
                    <small
                        *ngIf="
                            maintainingForm.get('endDate').invalid &&
                            (maintainingForm.get('endDate').dirty ||
                                maintainingForm.get('endDate').touched)
                        "
                        class="p-error"
                        >{{ "endDate" | translate
                        }}{{ "isRequired" | translate }}</small
                    >
                </div>

                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <p-inputNumber
                            id="cost"
                            formControlName="cost"
                        ></p-inputNumber>
                        <label htmlFor="cost">{{ "cost" | translate }} </label>
                    </span>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="{{ 'Cancel' | translate }}"
            icon="pi pi-times"
            class="p-button-text"
            (click)="hideDialog()"
        ></button>
        <button
            pButton
            pRipple
            label="{{ 'Save' | translate }}"
            icon="pi pi-check"
            class="p-button-text"
            [disabled]="maintainingForm.invalid"
            (click)="saveMaintaining()"
        ></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
